body {
    background-color: #e2e2e2;
  }
  
  .App {
    text-align: center;
    padding-bottom: 85px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
  }
  
  a.recipe-link {
    color:darkslategrey;
  }

  .container img {
    width: 100%;
 }

 .grid-container {
  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 60px;
 }

 .MuiGrid-spacing-xs-1 {
  width: calc(100% + 8px);
  margin: -4px;
  justify-content: center;
}